body {
    background-image: url(../images/soccerimage.png);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
  }

 .jumbotron {
    text-align: center;
    background-color: inherit;
    color: black;
    font-weight: bold;
    font-size: 42px !important;
    opacity: 0.9;
 } 

#timer-text {
     font-size: 10px !important;
 }

#timer-title {
    font-size: 12px;
    font-weight: bold;
}

 #timer-display {
     font-size: 12px;
 }

#timer-card {
    background-color: aquamarine;
    position: fixed;
    bottom: 40%;
    left: 20%
    /* float: left; */
}

.start-button {
    background-color: blue;
    color: white;
    font-weight: bold;
    margin-top: 25%;
}

.question-row {
    vertical-align: middle;
    color: black;
    font-weight: bold;
    font-size: 24px;
    border-bottom-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: aquamarine;
    opacity: 0.9;
    margin-bottom: 3%;
}

.questionNumber {
    text-align: center;
    margin-left: 3%;
    }

.askQuestion {
    padding-left: 5%;
    margin-right: 3%;
    }

.answer-button {
    background-color: blue;
    color: white;
    font-weight: bold;
    margin: 5% !important;
}

.checkAnswerContainer {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: beige;
    margin-left: 3%;
    margin-right: 3%;
    /* display: flex; */
    height: auto;
    overflow: auto;
}

#question-answer-card {
    background-color: beige;
    opacity: .7;
}

#answerMessage {
    text-align: center;
}

#answerInfo {
    
}

#answerGif {
    /* background-image: url(../images/Celebrate.Gif); */
    background-repeat: no-repeat;
    /* background-size: 65%; */
    background-position: center;
}

.answerCounter {
    font-style: italic;
    font-weight: bold;
}

#count-down {
    font-style: italic;
}
