body {
    background-image: url(../images/soccerimage.png);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
  }

 .jumbotron {
    text-align: center;
    /* margin-top: 5%; */
    background-color: inherit;
    color: black;
    font-weight: bold;
    opacity: 0.9;
 } 

.start-button {
    background-color: blue;
    color: white;
    font-weight: bold;
    margin-top: 5%;
}

.question-row {
    vertical-align: middle;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-bottom-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(17, 71, 17);
    opacity: 0.9;
    margin-bottom: 3%;
}

.questionNumber {
    text-align: center;
    margin-left: 3%;
    }

.askQuestion {
    padding-left: 5%;
    margin-right: 3%;
    }

.answer-button {
    background-color: blue;
    color: white;
    font-weight: bold;
    margin: 5% !important;
}

.checkAnswerContainer {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: beige;
    margin-left: 3%;
    margin-right: 3%;

}

#answerMessage {

}

#answerInfo {
    
}

#answerGif {
    
}